:root {
    --color-primary: #F0DB4F;
    --color-light: #FAF9F9;
    --color-gray: #F3F3F3;
    --color-dark: #555B6E;
    
    --font-regular: 'Roboto', sans-serif;
    --font-mono: 'Roboto Mono', monospace;
    --font-slab: 'Roboto Slab', serif;

    --primary: #F0DB4F;
}
.bg-primary {
    background-color: var(--color-primary) !important;
}
.bg-gray {
    background-color: var(--color-gray) !important;
}
.color-dark {
    color: var(--color-dark);
}
.font-regular {
    font-family: var(--font-regular);
}
.font-mono {
    font-family: var(--font-mono);
}
.font-slab {
    font-family: var(--font-slab);
}
.page {
    padding-top: 80px;
}